<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCartLabel" translate="jwebApp.allProducts.home.addToCart">Add to the Cart</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="jwebApp.allProducts.home.myCarts">My Carts</label>
            <select name="selectCart" id="selectCart" class="form-control"
                    ng-options="cart as cart.name for cart in carts"
                    ng-model="cart">
            </select>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="jwebApp.allProducts.action.save">&nbsp;</span>
            </button>
        </div>
    </div>
</form>
