<div>
    <div class="modal-header">
        <div class="col-md-3 text-center">
            <img class="img-responsive" src="{{marketPlace.image}}"/>
        </div>

        <h1><a href="#/marketPlaces/{{marketPlace.id}}">{{marketPlace.name}}</a></h1>


        <p class="lead text-align" translate="jwebApp.myMarketPlace.home.subtitle"></p>
        <hr style="border-color:#E6E6E6;">

        <div class="rating pull-right">
            <span class="stars hidden" title="{{marketPlace.rating}}">{{marketPlace.rating}}</span>
        </div>
        <div class="pull-right">
            <span translate="jwebApp.marketPlace.rating"></span> :
        </div>

        <button class="btn btn-primary" ui-sref="myMarketPlace">
            <span translate="jwebApp.marketPlace.detail.title">&nbsp;</span>
        </button>
        <button class="btn btn-primary" ui-sref="myMarketPlace.products">
            <span translate="jwebApp.marketPlace.action.gestProducts">&nbsp;</span>
        </button>
        <button class="btn btn-primary" ui-sref="myMarketPlace.news">
            <span translate="jwebApp.marketPlace.action.gestNews">&nbsp;</span>
        </button>
        <button class="btn btn-primary" ui-sref="myMarketPlace.stock">
            <span translate="jwebApp.marketPlace.action.gestStock">&nbsp;</span>
        </button>

    </div>
    <jh-alert></jh-alert>

    <br>
    <div class="form-group">
        <div class="col-md-2">
            <select name="selectPromo" id="selectPromo" class="form-control"
                    ng-options="promotion as promotion.name for promotion in promotions"
                    ng-model="promotion"
                    ng-change="parsePromotion()">
            </select>
        </div>
        <div class="col-md-4">
            <input type="string" name="path"
                   value="" ng-model="path"
                   ng-change="parseName()">
        </div>
        <button type="submit"
                ui-sref="myMarketPlace.createPromotion()"
                class="btn btn-primary btn-sm pull-right">
            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span
            translate="jwebApp.promotion.detail.create"></span>
        </button>
    </div>
    <br>

    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="name"><span translate="jwebApp.promotion.detail.title">Promotion</span></th>
                    <th jh-sort-by="percent"><span translate="jwebApp.promotion.percent">Percent</span></th>
                    <th jh-sort-by="reduction"><span translate="jwebApp.promotion.reduction">Reduction</span></th>
                    <th jh-sort-by="baseProduct.name"><span translate="jwebApp.product.detail.title">baseProduct</span></th>

                    <th></th>
                </tr>
                </thead>
                <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="product in products">
                    <td>{{product.promotion.name}}</td>
                    <td>{{product.promotion.percent}}</td>
                    <td>{{product.promotion.reduction}}</td>
                    <td>
                        <a ui-sref="baseProduct.detail({id:product.baseProduct.id})">{{product.baseProduct.name}}</a>
                    </td>

                    <td>
                        <button type="submit"
                                ui-sref="myMarketPlace.addPromotion({id:product.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span translate="jwebApp.marketPlace.action.addPromotion"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="deletePromotion({id:product.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal-footer">
        </div>
    </div>
    <script type="text/javascript">
        $.fn.stars = function() {
            return $(this).each(function() {
                $(this).html($('<span />').width(Math.max(0, (Math.min(5, parseFloat($(this).html())))) * 16));
            });
        };

        $(function() {
            window.setTimeout(function(){
                $('span.stars').stars().removeClass('hidden');
            }, 500);
        });
    </script>
</div>
