
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCartProductListLabel" translate="jwebApp.cartProductList.home.createOrEditLabel">Create or edit a CartProductList</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="cartProductList.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jwebApp.cartProductList.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="cartProductList.quantity"
                    required min="0" />
            <div ng-show="editForm.quantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantity.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="jwebApp.cartProductList.cart" for="field_cart">cart</label>
            <select class="form-control" id="field_cart" name="cart" ng-model="cartProductList.cart" ng-options="cart as cart.name for cart in carts track by cart.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="jwebApp.cartProductList.product" for="field_product">product</label>
            <select class="form-control" id="field_product" name="product" ng-model="cartProductList.product" ng-options="product as product.id for product in products track by product.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
