<div>
    <h2 translate="jwebApp.allProducts.home.title">All Products</h2>
    <jh-alert></jh-alert>

    <div class="form-group">
        <div class="col-md-2">
            <select name="selectType" id="selectType" class="form-control"
                    ng-options="type as type.name for type in types"
                    ng-model="type"
                    ng-change="parseType()">
            </select>
        </div>
        <div class="col-md-3">
            <input type="string" name="path"
                   value="" ng-model="path"
                   ng-change="parseName()">
        </div>
    </div>
    <br>

    <div class="modal-body">
        <table class="table" id="allProducts">
            <tbody>
            <tr ng-repeat="productList in products">
                <td class="productList">
                    <div class="item">
                        <h4>
                            <a href="#/product/{{productList[0].id}}"><span style="font-size: 130%;">{{productList[0].baseProduct.name}}</span></a>

                            <div class="price">
                                <span
                                    ng-if="productList[0].promotion.percent == 0 && productList[0].promotion.reduction == 0">
                                    {{productList[0].price | currency}}
                                </span>
                                <span
                                    ng-if="productList[0].promotion.percent != 0 || productList[0].promotion.reduction != 0">
                                    <del>{{productList[0].price | currency}}</del>
                                    <ins>{{productList[0].price - productList[0].promotion.reduction -
                                        productList[0].price * productList[0].promotion.percent / 100 | currency}}
                                    </ins>
                                    <br/>
                                    <span ng-if="productList[0].promotion.reduction != 0">-{{productList[0].promotion.reduction | currency}}</span>
                                    <span ng-if="productList[0].promotion.percent != 0">-{{productList[0].promotion.percent}}%</span>
                                </span>
                            </div>
                        </h4>
                        <h4>
                            <br>
                            <div class="price pull-right">
                                <span translate="jwebApp.product.stock"></span>
                                <span>: {{productList[0].stock}}</span>
                            </div>
                        </h4>
                        <hr/>
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <a href="#/product/{{productList[0].id}}"><img class="img-responsive"
                                                                               src="{{productList[0].baseProduct.image}}"/></a>
                            </div>
                            <div class="col-md-6">
                                <div class="description">{{productList[0].baseProduct.description}}</div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-8">
                        <a href="#/product/{{productList[0].id}}/list">
                            <div class="sellers">Sold by: {{productList.length}} market place</div>
                        </a>
                    </div>
                    <div class="addToCart">
                        <button class="btn btn-primary" ui-sref="allProducts.addToCart({id:productList[0].id, nbr:1})">
                            <span class="glyphicon glyphicon-plus-sign"></span> <span
                            translate="jwebApp.allProducts.home.addToCart">&nbsp;</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
