<div>
    <div class="modal-header">
        <div class="col-md-3 text-center">
            <img class="img-responsive" src="{{marketPlace.image}}"/>
        </div>

        <h1>{{marketPlace.name}}</h1>


        <p class="lead text-align" translate="jwebApp.myMarketPlace.home.entry"></p>
        <hr style="border-color:#E6E6E6;">

        <div class="rating pull-right">
            <span class="stars hidden" title="{{marketPlace.rating}}">{{marketPlace.rating}}</span>
        </div>
        <div class="pull-right">
            <span translate="jwebApp.marketPlace.rating"></span> :
        </div>

        <button class="btn btn-primary" ui-sref="marketPlace.detail({id:marketPlace.id})">
            <span translate="jwebApp.marketPlace.detail.title">&nbsp;</span>
        </button>

    </div>
    <jh-alert></jh-alert>

    <br>

    <div class="form-group">
        <div class="col-md-2">
            <select name="selectType" id="selectType" class="form-control"
                    ng-options="type as type.name for type in types"
                    ng-model="type"
                    ng-change="parseType()">
            </select>
        </div>
        <div class="col-md-3">
            <input type="string" name="path"
                   value="" ng-model="path"
                   ng-change="parseName()">
        </div>
    </div>
    <br>

    <div class="modal-body">
        <table class="table" id="allProducts">
            <tbody>
            <tr ng-repeat="product in products">
                <td class="productList">
                    <div class="item">
                        <h4>
                            <a href="#/product/{{product.id}}"><span style="font-size: 130%;">{{product.baseProduct.name}}</span></a>

                            <div class="price">
                                <span>{{product.price | currency}}</span>
                            </div>
                        </h4>
                        <h4>
                            <div class="price">
                                <span translate="jwebApp.product.stock"></span>
                                <span>: {{product.stock}}</span>
                            </div>
                        </h4>
                        <hr/>
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <a href="#/product/{{product.id}}">
                                    <img class="img-responsive" src="{{product.baseProduct.image}}"/>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <div class="description">{{product.baseProduct.description}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="addToCart">
                        <button class="btn btn-primary" ui-sref="marketPlace.addToCart({id:product.id, nbr:1})">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span translate="jwebApp.allProducts.home.addToCart">&nbsp;</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="modal-footer">
        </div>
    </div>
</div>
