<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myNewsLabel" translate="jwebApp.news.home.createOrEditLabel">Create or edit a
            News</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label class="control-label" translate="jwebApp.news.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                   ng-model="news.title"
                   required ng-minlength="1"/>

            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                   ng-show="editForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.title.$error.minlength" translate="entity.validation.minlength"
                   translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="jwebApp.news.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                   ng-model="news.content"
                   required ng-minlength="1"/>

            <div ng-show="editForm.content.$invalid">
                <p class="help-block"
                   ng-show="editForm.content.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.content.$error.minlength" translate="entity.validation.minlength"
                   translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
</form>
