
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDeliveryLabel" translate="jwebApp.delivery.home.createOrEditLabel">Create or edit a Delivery</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="delivery.id" readonly />
        </div>

        <div class="form-group">
            <label translate="jwebApp.delivery.status" for="field_status">status</label>
            <select class="form-control" id="field_status" name="status" ng-model="delivery.status" ng-options="status as status.name for status in statuss track by status.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="jwebApp.delivery.payment" for="field_payment">payment</label>
            <select class="form-control" id="field_payment" name="payment" ng-model="delivery.payment" ng-options="payment as payment.name for payment in payments track by payment.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="jwebApp.delivery.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="delivery.user" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="jwebApp.delivery.cart" for="field_cart">cart</label>
            <select class="form-control" id="field_cart" name="cart" ng-model="delivery.cart" ng-options="cart as cart.name for cart in carts | orderBy:'id' track by cart.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
