<div>
    <div class="modal-header">
        <div class="col-md-3 text-center">
            <img class="img-responsive" src="{{marketPlace.image}}"/>
        </div>

        <h1>{{marketPlace.name}}</h1>


        <p class="lead text-align" translate="jwebApp.myMarketPlace.home.entry"></p>
        <hr style="border-color:#E6E6E6;">

        <div class="rating pull-right">
            <span class="stars hidden" title="{{marketPlace.rating}}">{{marketPlace.rating}}</span>
        </div>
        <div class="pull-right">
            <span translate="jwebApp.marketPlace.rating"></span> :
        </div>

        <button class="btn btn-primary" ui-sref="marketPlace.productList({idm:marketPlace.id})">
            <span translate="jwebApp.marketPlace.product">&nbsp;</span>s
        </button>

    </div>
    <jh-alert></jh-alert>

    <div class="modal-body">
        <h3>
            <span translate="jwebApp.marketPlace.description"></span> :
        </h3>
        <br>
        <span>{{marketPlace.description}}</span>
        <br>
        <hr>
        <h3>
            <span translate="jwebApp.marketPlace.news"></span> :
            <div class="pull-right">
                <dif ng-if="subscriber == false">
                    <button type="submit"
                            ng-click="subscribe()"
                            class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-ok-sign"></span>&nbsp;<span
                        translate="jwebApp.subscription.action.subscribe"> Subscribe</span>
                    </button>
                </dif>
                <dif ng-if="subscriber == true">
                    <button type="submit"
                            ng-click="unsubscribe()"
                            class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-alert"></span>&nbsp;<span
                        translate="jwebApp.subscription.action.unsubscribe"> Unsubscribe</span>
                    </button>
                </dif>
            </div>
        </h3>

        <table class="table" id="allNews">
            <tbody>
            <tr ng-repeat="news in marketPlace.news">
                <td class="news">
                    <div class="news">
                        <h4>
                            <span style="font-size: 130%;">{{news.title}}</span>
                        </h4>


                        <span class="date">{{news.date | date:'medium'}}</span>
                        <br>
                        <span>{{news.content}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
    </div>
</div>
</div>
