<div>
    <h2 translate="jwebApp.myCarts.home.title">My Carts</h2>
    <jh-alert></jh-alert>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="myCarts.new">
                    <span class="glyphicon glyphicon-plus-sign"></span> <span
                    translate="jwebApp.myCarts.home.createLabel">Create a new Cart</span>
                </button>
            </div>
        </div>
    </div>

    <br>
    <table class="table" id="myCarts">
        <tbody>
        <tr ng-repeat="cartContainer in carts">
            <td class="cartContainer">

                <div class="modal-header">
                    <h3>
                        <div class="pull-right">

                            <button type="submit"
                                    ui-sref="myCarts.delete({id:cartContainer.cart.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                        {{cartContainer.cart.name}}:
                    </h3>

                </div>

                <div ng-repeat="limit in [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]">
                    <ul class="nav nav-pills nav-justified products">
                        <li ng-repeat="productContainer in cartContainer.products | limitTo:3:limit">
                            <div class="productContainer">
                                <h4>
                                    <a href="#/product/{{productContainer.product.id}}">
                                        <span
                                            style="font-size: 130%;">{{productContainer.product.baseProduct.name}}</span>
                                    </a>
                                <span class="price"
                                      ng-if="productContainer.product.promotion.percent == 0 && productContainer.product.promotion.reduction == 0">
                                    {{productContainer.product.price | currency}}
                                </span>
                                <span class="price"
                                      ng-if="productContainer.product.promotion.percent != 0 || productContainer.product.promotion.reduction != 0">
                                    <del>{{productContainer.product.price | currency}}</del>
                                    <ins>{{productContainer.product.price - productContainer.product.promotion.reduction
                                        - productContainer.product.price * productContainer.product.promotion.percent /
                                        100 | currency}}
                                    </ins>
                                    <br/>
                                    <span ng-if="productContainer.product.promotion.reduction != 0">-{{productContainer.product.promotion.reduction | currency}}</span>
                                    <span ng-if="productContainer.product.promotion.percent != 0">-{{productContainer.product.promotion.percent}}%</span>
                                </span>
                                </h4>

                                <img class="img-responsive" src="{{productContainer.product.baseProduct.image}}"/>
                                <hr/>

                                <div class="description">{{productContainer.product.baseProduct.description}}</div>

                                <hr/>

                                <div class="row">
                                    <div class="col-md-4">
                                        <input class="form-control" type="number" name="quantity" min="1"
                                               step="1"
                                               value="{{productContainer.quantity}}" ng-model="focusedQuantity"
                                               ng-change="changeQuantity({id:productContainer.id, quantity:focusedQuantity})">
                                    </div>
                                    <div class="col-md-3">
                                        <button ng-click="deleteProduct({id:productContainer.id})"
                                                class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                            translate="entity.action.delete"> Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <hr/>
                <div class="total">
                    <h3>
                        <span class="pull-right">Total : {{cartContainer.total | currency}}</span>
                    </h3>
                </div>
                <br>
                <br>

                <div class="modal-footer">
                    <div class="buyCart">
                        <a href="#/MyDeliveries/{{cartContainer.cart.id}}/create">
                            <button class="btn btn-primary">
                                <span class="glyphicon glyphicon-circle-arrow-right"></span> <span
                                translate="jwebApp.myDeliveries.toDelivery">&nbsp;</span>
                            </button>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
